.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .board-frame{

    width: 100%;
    margin: 0 auto;
    padding: 0.6rem 3rem;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1500px) {
        padding: 0.6rem 2rem;
        width: 80%;
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 10px;
        width: 80%;
      }

      @media screen and (max-width: 1000px) {
        padding: 0.6rem 2rem;
        
      }
      @media screen and (max-width: 700px) {
        padding: 0.6rem 10px;
        width: 100%;
      }
  }
  